In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

% matplotlib inline

First import the data and take a look at what's inside.

In [2]:
df0 = pd.read_table( 'data_colorectal.txt', header=None, names=[ 'chr', 'pos', 'ref', 'alt', 'ID'], low_memory=False)
df0.head()

  chr    pos ref alt                            ID
0   1  56638   C   T  TCGA-AA-3516-01A-02D-1554-10
1   1  56981   C   A  TCGA-AA-3516-01A-02D-1554-10
2   1  57033   T   C  TCGA-AA-3516-01A-02D-1554-10
3   1  57246   C   G  TCGA-AA-3516-01A-02D-1554-10
4   1  57376   C   T  TCGA-AA-3516-01A-02D-1554-10

In [3]:
print 'The data set has %s rows and %s columns.' %(df0.shape)

The data set has 973953 rows and 5 columns.

In [4]:
print '# of unique chr values: %s' % len(df0.chr.unique())
print '# of unique pos values: %s' % len(df0.pos.unique())
print '# of unique ref values: %s' % len(df0.ref.unique())
print '# of unique alt values: %s' % len(df0.alt.unique())
print '# of unique  ID values: %s' % len(df0.ID.unique())

# of unique chr values: 76
# of unique pos values: 949113
# of unique ref values: 2358
# of unique alt values: 2183
# of unique  ID values: 5

Each entry in the data set is of a somatic mutation found in a patient's tumor sample.

- The `ID` indicates which patient sample the mutation was originally found in.
- The `chr` value indicates in which chromosome the mutation is located.
- The `pos` value indicates the position along the chromosome.
- The `ref` value is the reference allele from which the somtatic mutation occurs.
- The `alt` value is the alternative allele value which the mutation takes on.

Below are the 5 different sample `ID`s from the 5 different patients.

In [5]:
df0.ID.value_counts()

TCGA-AD-6964-01A-11D-1924-10    219960
TCGA-AA-3516-01A-02D-1554-10    211212
TCGA-AZ-6601-01A-11D-1771-10    203557
TCGA-AD-A5EJ-01A-11D-A28G-10    172291
TCGA-AA-A01R-01A-21D-A17O-10    166933
Name: ID, dtype: int64

In [6]:
print '10 most frequent reference allele values:'
df0.ref.value_counts()[:10]

10 most frequent reference allele values:

C         273807
G         273319
T         213769
A         210534
AA            13
TT            12
GA             8
GG             8
CC             7
AAAAAA         6
Name: ref, dtype: int64

In [7]:
print '10 most frequent alternative allele values:'
df0.alt.value_counts()[:10]

10 most frequent alternative allele values:

T     302239
A     302078
C     183633
G     183553
-         16
TT        10
GG         8
TA         7
GA         6
CC         6
Name: alt, dtype: int64

As expected, the most common allele values are the nucleotides `A`, `C`, `T` and `G`.